<div class="card" id="section">
  <div class="card-image">
    <figure class="image" id="qrHolder">

    </figure>

  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">

        <div class="container has-text-centered">
          <strong>
            <p id="codeP"></p>
          </strong>
          <svg id="barcode"></svg>
        </div>

      <a class="title is-4" id="card-title">Something</p>

      </div>
    </div>

    <div class="content">
     <p>
     	<strong>Puntos: </strong><span id="card-points"></span>
     </p>
   </div>
 </div>
</div>