


<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column"></div>
			<div class="column is-four-fifths">
				<div class="hero">
					<div class="container">
						<div class="card">
									<form method="POST" action="/file/upload" enctype="multipart/form-data" >
									<div class="card-content">
										<div class="content">
												<h1>Añadir una empresa</h1>
												<div class="field" for="nameInput">
													<label class="label">Nombre</label>
													<div class="control">
														<input required class="input" name="name" id="nameInput" type="text" placeholder="Ingrese nombre de la compañia">
													</div>
												</div>
												<div class="field">
													<label class="label">Color del código</label>
													<div class="control">
													 	<input type="color" name="brandColor" value="#ff0000">
													</div>
												</div>
												<div class="field">
													<label class="label">Logotipo</label>
													<div class="file is-boxed" id="fileBox" for="logoInput">
													  <label class="file-label">
													    <input required id="logoInput" class="file-input" type="file" name="logo"  accept="image/*">
													    <span class="file-cta">
													      <span class="file-icon">
													        <i class="fas fa-upload"></i>
													      </span>
													      <span class="file-label">
													        Eliga un archivo…
													      </span>
													    </span>
													  </label>
												    </div>
												</div>
												<div class="field is-grouped">
													 <div class="control"> 
													 	<button class="button is-link" id="addBrandBtn">Añadir</button>
												 	</div>
											 	</div>
									 	</div>
								 	</div>
								 	</form>
							 	</div>
					 		</div>
		 				</div>
		 			</div>
					<div class="column"></div>
				</div>
			</div>
		</section>