<div class="hero">
	<div class="container">
			<div class="field">
			  <label class="label">Folio</label>
			  <div class="control">
			    <input autocomplete="off" class="input" type="text" placeholder="Ingrese el folio de su cuenta">
			  </div>
			</div>

			<div class="field">
			  <label class="label">Total</label>
			  <div class="control has-icons-left">
			    <input autocomplete="off" id="moneyInput" class="input is-success" type="text" placeholder="0.0" pattern="^\$[1-9]\d{1,2}(,\d{3})*(\.\d+)?$">
			    <span class="icon is-small is-left">
      					$
    			</span>
			  </div>
			</div>
			<div class="field is-grouped">
			  <div class="control">
			    <button id="scannerButton"class="button is-link">Scanear</button>
			  </div>
			</div>
		
	</div>
</div>