extends baseHomePages.pug


block menuItems
	a(class="navbar-item" id="addCompanyA") Empresas

block content
	div(id="mainModule-ui")
		div(id="router")


block js
	script(type="text/javascript" src="vendor/qrReader.js")
	script(type="module" src="administrator.js")
	
