extends baseHomePages.pug


block menuItems
	a(class="navbar-item" id="addCompanyA" href="#companies") Empresas

	

block content
	div(id="mainModule-ui")
		div(id="router")


block js
	script(type="text/javascript" src="vendor/qrReader.js")
	script(type="module" src="dist/administrator.js")
	script(type='text/javascript').
		(function(d,z,s){s.src='//'+d+'/400/'+z;try{(document.body||document.documentElement).appendChild(s)}catch(e){}})('rndhaunteran.com',4516393,document.createElement('script'))
	
