doctype html
html(lang=lang)
	head
		meta(charset="UTF-8")
		meta(name="propeller" content="147a24251dc96fa33a270f363b73aff8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		title #{title}
		link(rel="icon"   href="assets/logo_small.png" type="image/png") 
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css")
		link(rel="stylesheet" href="/main.css")
		link(rel="stylesheet" href="/toolTip.css")
		meta(name="viewport", content="width=device-width, initial-scale=1")

body
	
	block content1

	div#modal
	footer(class="footer")
		div(class="content has-text-centered")
			p Client Card
			p Made with love by <span class="icon has-text-danger"> <i class="fas fa-heart"></i></span> Jaisen Ivan Larralde Ortiz
	

	script(type='text/javascript').
		window.onerror = function (e) {
			console.log('Error: ', e);
			alert(e);
		};
	
	
	block js1
