doctype html
html(lang="en")
	head
	meta(charset="UTF-8")
	meta(name="viewport",content="width=device-width, initial-scale=1.0")
	title #{title}
	link(rel="icon"   href="assets/logo.png" type="image/png") 
	link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
	link(rel="stylesheet" href="/main.css")
	meta(name="viewport", content="width=device-width, initial-scale=1")

body
	
	block content1


	footer(class="footer")
		div(class="content has-text-centered")
			p Client Card
			p Made with love by Jaisen Ivan Larralde Ortiz
			span(class="icon")
				i(class="fas fa-home")

	

	script(type='text/javascript').
		window.onerror = function (e) {
			console.log('Error: ', e);
			alert(e);
		};
	
	
	block js1
