extends baseHomePages.pug

block content
	section(class="section")
		div(class="container")
			div(class="columns")
				div(class="column")
				div(class="column is-four-fifths" id="card-column-ui" tabindex=1)
				div(class="column")
		div(class="container")
			div(class="columns")
				div(class="column")
				div(class="column is-four-fifths")
					article(class="panel is-primary" id="card-table")
						p(class="panel-heading") Tus tarjetas de puntos
				div(class="column")
		


block js
	script(type="module" src="app.js")
	script(src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js")
