extends base.pug

block content1
	section(class="section")
		div(class="container")
			div(class="columns")
				div(class="column")
				div(class="column is-four-fifths") 
					div(class="hero")
						div(class="container")
							div(id="mainModule-ui")
				div(class="column")
	
block js1
	script(type="module" src="/components/sign_in/signin_app.js")
	