extends base.pug

block content1
	if hasInvitaton
	block landing_page
	section(class="section")
		div(class="container")
			div(class="columns")
				div(class="column")
				div(class="column is-four-fifths") 
					div(class="hero")
						div(class="container")
							div(class="card")
								block cardImage
								div(class="card-content")
									div(class="content")
										block cardContent
									div(class="content" id="mainModule-ui")
										
				div(class="column")
	
block js1
	script(type="module" src="dist/signin_app.js")
	