		<div>
			<h1 class="title">Crear cuenta</h1>
			<div class="field" for="nameInput">
				<label class="label" for="nameInput">Nombre</label>
				<div class="control">
					<input autocomplete="off" required class="input" name="name" id="nameInput" type="text" placeholder="Ingrese su nombre">
				</div>
			</div>
			<div class="field" for="emailInput">
				<label class="label" for="emailInput">Usuario</label>
				<div class="control">
					<input autocomplete="off" required class="input" name="email" id="emailInput" type="text" placeholder="Ingrese su usuario">
				</div>
			</div>
			<div class="field" for="passwordInput">
				<label class="label" for="passwordInput">Contraseña </label>
				<div  is-password=true class="control has-icons-right"> 
						<input  autocomplete="off" class="input" id="passwordInput" name="password" type="password">
						<a>
							<span class="icon is-small is-right is-clickable">
								<i class="fas fa-eye-slash"></i>
							</span>
						</a>
					</div>
			</div>
			<div class="field" id="typeOfUserField">
				<label class="label">Tipo de usuario</label>
				<div class="select">
					<select id="typeOfUserSelect" name="typeOfUser">
						<option value="CLIENT">Soy cliente</option>
						<option value="BUSINESS">Soy dueño de un negocio</option>
					</select>
				</div>
			</div>
			<div class="field is-grouped">
				<div class="control"> 
					<button class="button is-link" id="signInBtn">Registrarse</button>

				</div>
			</div>
		</div>
