 <section class="section">
 	<div class="container">
 		<div class="columns">
 			<div class="column ">
 				<div class="hero">
 					<div class="card">
 						<div class="card-header">
 							<p model="brand.name" class="card-header-title">

 							</p>
 						</div>
 						<div class="card-image">
 							<section class="section" id="qrHolder">	
 								<div class="container" id="qrImage"></div>
 								
 							</section>

 						</div>
 						<div class="card-content">
 							<div class="content" >

 								<p id="qrMessage">
 									Enseña este código QR para dar de alta nuevos clientes
 								</p>


 								<div class="columns is-gapless">
 									<div class="column" >
 										<div class="field">
 											<label id="pctgIcon" class="has-tooltip-info">
 												<!--<span class="has-text-weight-medium">0.0</span>-->
 												<span>Porcentaje de crédito</span>
 												<span id="pctgIcon" class="icon has-text-info">
 													<i class="fas fa-question-circle"></i>
 												</span>
 											</p>
 											<p class="control is-expanded has-icons-left">
 												<input id="cdtPrctgInput" step="1" max="100"
 												class="input" type="number" placeholder="1"
 												number-type="integer"
 												>
 												<span class="icon is-small is-left">
 													%
 												</span>
 											</p>
 										</div>
 									</div>
 								</div>
 								<div class="columns is-gapless">
 									<div class="column">

 										<div class="field ">
 											<label  id="rdtnIcon" class="has-tooltip-info">
 												
 												<span>Porcentaje de Redención:</span>
 												<span  class="icon has-text-info ">
 													<i class="fas fa-question-circle"></i>
 												</span>

 											</label>

 											<p class="control is-expanded has-icons-left">

 												<input id="rdtPrctgInput" step="1" max="100" 
 												class="input" type="number" placeholder="1" number-type="integer">
 												<span class="icon is-small is-left">
 													%
 												</span>
 											</p>
 										</div>
 									</div>
 								</div>
 								<div class="columns">
 									<div class="column">
 										<a id="saveBtn" class="button is-success">Guardar</a>
 									</div>
 								</div>


 							</div>
 						</div>
 					</div>
 				</div>
 				
 			</div>
 			<div class="column">
 				<div id="card_clients" class="box"></div>
 			</div>
 		</div>

 	</div>
 </section>