 <section class="section">
 	<div class="container">
 		<div class="columns">
 			<div class="column"></div>
 			<div class="column is-four-fifths">
 				<div class="hero">
 					<div class="container">
 						<div class="card">
 							<div class="card-header">
 								<p model="brand.name" class="card-header-title">
 									
 								</p>
 							</div>
 							<div class="card-image">
 								<figure class="image" id="qrHolder">
 								</figure>
 							</div>
 							<div class="card-content">
 								<div class="content">
 									<div class="columns is-gapless">
 										<div class="column" >
 											<div class="field has-addons has-addons-centered">
 												<p id="pctgIcon" class="control has-tooltip-info">
 													<!--<span class="has-text-weight-medium">0.0</span>-->
 													<a class="button is-light is-static">
 														<span>Porcentaje de crédito</span>
 														<span id="pctgIcon" class="icon has-text-info">
 															<i class="fas fa-question-circle"></i>
 														</span>
 													</a>
 												</p>
 												<p class="control is-expanded has-icons-left">
 													<input id="cdtPrctgInput" step="1" max="100"
 															class="input" type="number" placeholder="1"
 															number-type="integer"
 															>
 													<span class="icon is-small is-left">
 														%
 													</span>
 												</p>
 											</div>
 										</div>
 									</div>
 									<div class="columns">
 										<div class="column">

 											<div class="field has-addons has-addons-centered">
 												<p  id="rdtnIcon" class="control has-tooltip-info">
 													<a class="button is-light is-static">
 														<span>Porcentaje de Redención:</span>
 														<span  class="icon has-text-info ">
 															<i class="fas fa-question-circle"></i>
 														</span>
 													</a>
 												</p>
 												<p class="control has-icons-left">

 													<input id="rdtPrctgInput" step="1" max="100" 
														   class="input" type="number" placeholder="1" number-type="integer">
 													<span class="icon is-small is-left">
 														%
 													</span>
 												</p>
 											</div>
 										</div>
 									</div>
 									<div class="columns">
 										<div class="column">
 											<a id="saveBtn" class="button is-success">Guardar</a>
 										</div>
 									</div>


 								</div>
 							</div>
 						</div>
 					</div>
 				</div>
 			</div>
 			<div class="column"></div>
 		</div>
 	</div>
 </section>